@import "variables";

// Mixin para media queries
@mixin respond-to($breakpoint) {
  @if $breakpoint == sm {
    @media (min-width: $breakpoint-sm) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (min-width: $breakpoint-md) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (min-width: $breakpoint-lg) {
      @content;
    }
  }
}

// Mixin para centrar elementos con Flexbox
@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
