// components/_variables.scss

// Variables para breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;

// Variables generales
$bg-color: whitesmoke;
$font-family-body: fantasy;
$font-family-default: Arial, sans-serif;
$font-weight-light: 300;
$btn-bg-color: black;
$btn-hover-bg-color: #797878;
$btn-color: white;
$container-padding: 10px 50px;
$curso-bg-color: rgb(245, 235, 217);
